<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Unofficial Twitch Client for the Roku"><!-- TODO and Apple TV-->
    <title>
    {{#if title}}
        {{title}}
    {{else if append}}
        Twitched - {{append}}
    {{else}}
        Twitched
    {{/if}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {{#if inc}}
        {{> (lookup . "inc") }}
    {{/if}}
</head>
<body>