<div class="nav">
    <div class="nav-inner">
        <a href="/"><div class="nav-logo" title="Twitched"></div></a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/info">About</a></li>
            <li><a href="/support">Support</a></li>
            <li><a href="/extension">Extension</a></li>
            <li><a href="/app">Mobile</a></li>
            <li><a href="/link">Link</a></li>
            <li><a href="/">Download</a></li>
        </ul>
        <div id="nav-expander" class="nav-closed"></div>
    </div>
</div>