<div class="nav">
    <div class="nav-inner">
        <a href="/"><div class="nav-logo" title="Twitched"></div></a>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
        </ul>
    </div>
</div>