{{>partial/header.hbs append="Browser Extension" inc="partial/header_extension.hbs"
        desc="Browser extension to cast to the Twitched Roku app"}} <!-- TODO apple tv -->

{{>partial/nav.hbs}}

<h1 class="title">Browser Extension</h1>
<h2 class="sub-title">Cast from the browser to the Twitched app.</h2>

<div>
    <div class="button button-tall button-green">
        <a href="https://chrome.google.com/webstore/detail/twitched/bppjnfjndembhedknalkdlpknkoiomao"
           id="ext-install-chrome">Chrome</a>
    </div>
    <div class="button button-tall button">
        <a href="https://addons.mozilla.org/addon/twitched/"
           id="ext-install-firefox">Firefox</a>
    </div>
    <!-- TODO add opera addons URL -->
    <div class="button button-tall button-red">
        <a href="https://addons.opera.com/en/extensions/details/download-chrome-extension-9"
           id="ext-install-opera">Opera</a>
    </div>
</div>

<h1 class="title">Screenshots</h1>
<div class="text">
    <div class="screenshots">
        <img src="/image/screenshot/chrome/casted.jpg" />
        <img src="/image/screenshot/chrome/casting.jpg" />
        <img src="/image/screenshot/chrome/options.png" />
    </div>
</div>

<script>
    /**
     * Handle chrome install button
     */
    function onChromeButtonClicked(event) {
        if (typeof(chrome) === "undefined" || chrome === null || (typeof(opr) !== "undefined" && opr !== null))
            return;
        event.preventDefault();
        chrome.webstore.install(null, function () {
            console.log("Chrome extension install succeeded");
        }, function (reason) {
            console.log("Chrome extension install failed: " + reason)
            window.location = "https://chrome.google.com/webstore/detail/twitched/bppjnfjndembhedknalkdlpknkoiomao";
        });
    }

    /**
     * Handle firefox install button
     */
    function onFirefoxButtonClicked(event) {
        if (navigator.userAgent.toUpperCase().indexOf("FIREFOX") < 0)
            return;
        event.preventDefault();
        window.location = "https://addons.mozilla.org/firefox/downloads/file/860773/twitched-latest-an+fx-linux.xpi";
    }

    /**
     * Handle opera install button
     */
    function onOperaButtonClicked(event) {
        return;
        if (typeof(opr) === "undefined" || opr === null)
            return;
        event.preventDefault();
        // TODO add opera extension id
        opr.addons.installExtension("", function () {
            console.log("Chrome extension install succeeded");
        }, function (reason) {
            console.log("Chrome extension install failed: " + reason)
        });
    }

    /**
     * Register events
     */
    window.onload = function () {
        var chromeButton = document.getElementById("ext-install-chrome");
        chromeButton.onclick = onChromeButtonClicked;
        var firefoxButton = document.getElementById("ext-install-firefox");
        firefoxButton.onclick = onFirefoxButtonClicked;
        var operaButton = document.getElementById("ext-install-opera");
        operaButton.onclick = onOperaButtonClicked;
    };
</script>

{{>partial/footer.hbs}}