{{>partial/header.hbs append="Info" desc="Information about Twitched"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku<!-- TODO and Apple TV--></h2>

<div class="text">
    <div class="text-inner info-links">
            <a href="/info/oss">
                <img class="info-link" src="/image/info_oss.png" alt="Open Source Software">
            </a>
            <a href="/info/privacy">
                <img class="info-link" src="/image/info_privacy.png" alt="Privacy">
            </a>
            <a href="https://github.com/TwitchedApp/Twitched/wiki">
                <img class="info-link" src="/image/info_wiki.png" alt="Wiki">
            </a>
            <a href="/info/streamquality">
                <img class="info-link" src="/image/info_streamquality.png" alt="Stream Quality">
            </a>
    </div>
    <br>
    <h3 class="text-inner">Release Notes</h3>
    <div class="text-inner">
        {{{text_release_notes}}}
    </div>
    <h3 class="text-inner">License</h3>
    <div class="text-inner">
        {{{text_license}}}
    </div>
</div>

<script src="/js/info_oss.js"></script>

{{>partial/footer.hbs}}