<h2>Privacy Policy</h2>
<h3>Introduction</h3>
<p>Twitched ("we” or “us”) values its visitors’ privacy. This privacy policy is effective September 19, 2018; it summarizes what information we might collect from a registered user or other visitor (“you”), and what we will and will not do with it.</p>
<p>Please note that this privacy policy does not govern the collection and use of information by companies that Twitched does not control, nor by individuals not employed or managed by Twitched. If you visit a Web site that we mention or link to, be sure to review its privacy policy before providing the site with information.</p> 
<h3>What we do with your personally identifiable information</h3> 
<p>It is always up to you whether to disclose personally identifiable information to us, although if you elect not to do so, we reserve the right not to register you as a user or provide you with any products or services. “<em>Personally identifiable information</em>” means information that can be used to identify you as an individual, such as, for example:</p> 
<ul> 
 <li>your name, company, email address, phone number, billing address, and shipping address</li> 
 <li>your computer’s IP address, indicating where your computer is located on the Internet</li> 
 <li>session data for your login session, so that our computer can ‘talk’ to yours while you are logged in</li> 
</ul> 
<p>If you do provide personally identifiable information to us, either directly or through a reseller or other business partner, we will:</p> 
<ul> 
 <li>not sell or rent it to a third party without your permission — although unless you opt out (see below), we may use your contact information to provide you with information we believe you need to know or may find useful, such as (for example) news about our services and products and modifications to the Terms of Service;</li> 
 <li>take commercially reasonable precautions to protect the information from loss, misuse, and unauthorized access, disclosure, alteration, and destruction;</li> 
 <li>not use or disclose the information except: 
  <ul> 
   <li>as necessary to provide services or products you have ordered, such as (for example) by providing it to a carrier to deliver products you have ordered;</li> 
   <li>in other ways described in this privacy policy or to which you have otherwise consented;</li> 
   <li>in the aggregate with other information in such a way so that your identity cannot reasonably be determined (for example, statistical compilations);</li> 
   <li>as required by law, for example, in response to a subpoena or search warrant;</li> 
   <li>to outside auditors who have agreed to keep the information confidential;</li> 
   <li>as necessary to protect the rights, safety, or property of Twitched, its users, or others; this may include (for example) exchanging information with other organizations for fraud protection and/or risk reduction.</li> 
  </ul> </li> 
</ul> 
<h3>Other information we collect</h3> 
<p>We may collect other information that cannot be readily used to identify you, such as (for example) the IP address of your computer. We may use this information, individually or in the aggregate, for technical administration of our website(s); research and development; customer- and account administration; and to help us focus our marketing efforts more precisely.</p> 
<h3>Cookies</h3> 
<p>Twitched uses “cookies” to store personal data on your computer. We may also link information stored on your computer in cookies with personal data about specific individuals stored on our servers. If you set up your Web browser (for example, Internet Explorer or Firefox) so that cookies are not allowed, you might not be able to use some or all of the features of our website(s).</p> 
<h3>External data storage sites</h3> 
<p>We may store your data on servers provided by third party hosting vendors with whom we have contracted.</p> 
<h3>Notice to European Union users</h3> 
<p>Twitched‘s operations are located primarily in the United States. If you provide information to us, the information will be transferred out of the European Union (EU) to the United States. By providing personal information to us, you are consenting to its storage and use as described herein.</p> 
<h3>Information collected from children</h3> 
<p>You must be at least 13 years old to use Twitched‘s Web site(s) and service(s). Twitched does not knowingly collect information from children under 13. (See the U.S. Children’s Online Privacy Protection Act.)</p> 
<h3>Network Advertising Initiative</h3>
<p>We use third-party advertising companies to serve ads when you visit our Web site. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you. If you would like more information about this practice and to know your choices about not having this information used by these companies, see here: http://www.networkadvertising.org/managing/opt_out.asp.</p>
<h3>DMCA Policy</h3>
<p>Twitched respects the intellectual property rights of others and expects its users to do the same. In accordance with the Digital Millennium Copyright Act of 1998, the text of which may be found on the U.S. Copyright Office website at http://www.copyright.gov/legislation/dmca.pdf, Twitched will respond expeditiously to claims of copyright infringement committed using the Twitched service and/or the Twitched website (the "Site") if such claims are reported to Twitched such as in the sample notice below.</p>
<p>If you are a copyright owner, authorized to act on behalf of one, or authorized to act under any exclusive right under copyright, please report alleged copyright infringements taking place on or through the Site by completing the following DMCA Notice of Alleged Infringement and delivering it to Twitched at support@twitched.org. Upon receipt of Notice as described below, Twitched will take whatever action, in its sole discretion, it deems appropriate, including removal of the challenged content from the Site.</p>
<h3>DMCA Notice of Alleged Infringement ("Notice")</h3>
<ul>
    <li>Identify the copyrighted work that you claim has been infringed, or – if multiple copyrighted works are covered by this Notice – you may provide a representative list of the copyrighted works that you claim have been infringed.</li>
    <li>Identify the material or link you claim is infringing (or the subject of infringing activity) and to which access is to be disabled, including at a minimum, if applicable, the URL of the link shown on the Site or the exact location where such material may be found.</li>
    <li>Provide your company affiliation (if applicable), mailing address, telephone number, and, if available, email address.</li>
    <li>Include both of the following statements in the body of the Notice:</li>
    <ul>
        <li>"I hereby state that I have a good faith belief that the disputed use of the copyrighted material is not authorized by the copyright owner, its agent, or the law (e.g., as a fair use)."</li>
        <li>"I hereby state that the information in this Notice is accurate and, under penalty of perjury, that I am the owner, or authorized to act on behalf of, the owner, of the copyright or of an exclusive right under the copyright that is allegedly infringed."</li>
    </ul>
    <li>Provide your full legal name and your electronic signature.</li>
</ul>
<p>Deliver this Notice, with all items completed, to Twitched at support@twitched.org.</p>
<h3>Changes to this privacy policy</h3> 
<p>We reserve the right to change this privacy policy as we deem necessary or appropriate because of legal compliance requirements or changes in our business practices.</p> 
<h3>Questions or comments?</h3> 
<p>If you have questions or comments about Twitched's privacy policy, send an email to support@twitched.org, or contact us via any of the ways described in the About Us page at https://www.twitched.org.</p> 
<p>Thank you for choosing Twitched!</p>