<form class="quality">
    <div class="quality-remove">X</div>
    <input class="model" type="text" name="model" placeholder="Model">
    <label>
        <span class="model">Bitrate: </span>
        <input class="model" type="text" name="bitrate" placeholder="0">
    </label>
    <div class="p30">
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="240p30">
            <span class="quality-text">240p30</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="480p30">
            <span class="quality-text">480p30</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="720p30">
            <span class="quality-text">720p30</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="1080p30">
            <span class="quality-text">1080p30</span>
        </label>
    </div>
    <div class="p60">
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="240p60">
            <span class="quality-text">240p60</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="480p60">
            <span class="quality-text">480p60</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="720p60">
            <span class="quality-text">720p60</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="1080p60">
            <span class="quality-text">1080p60</span>
        </label>
        <label class="quality-checkbox-container">
            <input class="quality-checkbox" type="checkbox" name="only_source_60">
            <span class="quality-text quality-text-small">Only Source 60</span>
        </label>
    </div>
    <div class="comment-container">
        <input class="quality-comment" type="text" name="comment" placeholder="// Comment">
    </div>
</form>