{{>partial/header.hbs append="Mobile App"}}

{{>partial/nav.hbs}}

<h1 class="title">Mobile App</h1>
<h2 class="sub-title">Cast from a mobile device to the Twitched app.</h2>

<div>
    <div class="button button-tall button-green">
        <a href="https://play.google.com/store/apps/details?id=com.rolandoislas.twitched.android"
           id="app-install-android">Android</a>
    </div>
</div>

<h1 class="title">Screenshots</h1>
<div class="text">
    <div class="screenshots">
        <img src="/image/screenshot/android/home.png" />
        <img src="/image/screenshot/android/casting.png" />
        <img src="/image/screenshot/android/casted.png" />
    </div>
</div>

{{>partial/footer.hbs}}