{{>partial/header.hbs}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku</h2>

<div>
    <div class="button button-tall button-purple">
        <a href="https://channelstore.roku.com/details/223126">Roku</a>
    </div>
    <div class="button button-tall button-green"><a href="/link">Link</a></div>
</div>

<h1 class="title">Screenshots</h1>
<div class="text">
    <div class="screenshots">
        <img src="/image/screenshot/roku/home.jpg" />
        <img src="/image/screenshot/roku/games.jpg" />
        <img src="/image/screenshot/roku/communities.jpg" />
        <img src="/image/screenshot/roku/stream_info.jpg" />
        <img src="/image/screenshot/roku/link.jpg" />
        <img src="/image/screenshot/roku/hearthstone.jpg" />
    </div>
</div>

{{>partial/footer.hbs}}