{{>partial/header.hbs}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku</h2>

<div>
    <div class="button button-tall button-purple"><a href="#">Install</a></div>
    <div class="button button-tall button-green"><a href="/link">Link</a></div>
</div>

<!--
<h1 class="title">Screenshots</h1>
<div class="text">

</div>
-->

{{>partial/footer.hbs}}