{{>partial/header.hbs append="Open Source Software"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku</h2>

<div class="text">
    <p class="text-inner">
        {{{text}}}
    </p>
</div>

{{>partial/footer.hbs}}