{{>partial/header.hbs append="Privacy"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Privacy Policy</h1>
<h2 class="sub-title"></h2>

<div class="text">
    <div class="text-inner">
        {{>partial/privacy.hbs}}
    </div>
</div>

{{>partial/footer.hbs}}