{{>partial/header.hbs append="Open Source Software"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku</h2>

<div class="text">
    <h3 class="text-inner">Roku</h3>
    <p class="text-inner">
        {{{text_roku}}}
    </p>
    <h3 class="text-inner">Apple TV</h3>
    <p class="text-inner">
        {{{text_apple_tv}}}
    </p>
    <h3 class="text-inner">Website</h3>
    <p class="text-inner">
        {{{text_website}}}
    </p>
</div>

{{>partial/footer.hbs}}