{{>partial/header.hbs append="Info"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku<!-- TODO and Apple TV--></h2>

<div class="text">
    <div class="text-inner">
        <a href="/info/oss">Open Source Software</a>
        <br>
        <a href="/info/privacy">Privacy Policy</a>
        <br>
        <a href="https://github.com/TwitchedApp/Twitched/wiki">Wiki</a>
    </div>
    <br>
    <p class="text-inner">
        {{{text}}}
    </p>
</div>

{{>partial/footer.hbs}}