{{>partial/header.hbs append="Open Source Software"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Open Source Software</h1>
<h2 class="sub-title">Open source software used in Twitched</h2>

<div class="text">
    <h3 class="text-inner">Roku</h3>
    <div class="text-inner">
        {{{text_roku}}}
    </div>
    <h3 class="text-inner">Apple TV</h3>
    <div class="text-inner">
        {{{text_apple_tv}}}
    </div>
    <h3 class="text-inner">Website</h3>
    <div class="text-inner">
        {{{text_website}}}
    </div>
</div>

<script src="/js/info_oss.js"></script>

{{>partial/footer.hbs}}