{{>partial/header.hbs}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Twitched</h1>
<h2 class="sub-title">Unofficial Twitch client for the Roku</h2>

<div class="text">
    <div class="text-inner">
        {{>partial/privacy.hbs}}
    </div>
</div>

{{>partial/footer.hbs}}