{{>partial/header.hbs append="Link"}}

{{>partial/nav.hbs}}

{{#if error}}

    <h1 class="title">Link Failed</h1>
    <h2 class="sub-title">{{error}}</h2>

{{else}}

    <h1 class="title" id="title">Link Complete</h1>
    <h2 class="sub-title" id="message">Your device is now linked.</h2>

    {{#if send_token_xhr}}

        <script src="/js/link_complete.js"></script>

    {{/if}}

{{/if}}

{{>partial/footer.hbs}}