{{>partial/header.hbs append="Support"}}

{{>partial/nav.hbs}}

<h1 class="title timeburnerbold">Support</h1>
<h2 class="sub-title">Twitched Support</h2>

<div class="text">
    <div class="text-inner text-support">
        <a href="https://github.com/TwitchedApp/Twitched/wiki">Twitched App Support</a>
        <br>
        <a href="https://github.com/TwitchedApp/twitched-extension/wiki">Browser Extension Support</a>
        <br>
        <a href="https://github.com/TwitchedApp/twitched-android-app/wiki">Mobile App Support</a>
        <hr>
        <a href="https://twitter.com/twitchedapp">Twitter - @TwitchedApp</a>
        <br>
        <a href="https://discord.gg/WwYSyVv">Discord</a>
        <br>
        <a href="https://www.reddit.com/r/twitched">Reddit - /r/twitched</a>
    </div>
</div>

{{>partial/footer.hbs}}